<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>PI Testing Page</title>
    <style>
      h1 {text-align: center;}
      p {text-align: center;}
      div {text-align: center;}
      a {text-align: center;}
   </style>
  </head>
  <body>
    <div id="led-on-app">
      <h1>PI Testing</h1>
      <a class="button" href="/turnledon" style="font-size: 32px;">TURN LED ON</a>
    </div>
    <div id="led-off-app">
        <a class="button" href="/turnledoff" style="font-size: 32px;">TURN LED OFF</a>
    </div>
    <div id="breathe-app">
        <a class="button" href="/breatheled" style="font-size: 32px;">BREATHE LED</a>
    </div>
    <!-- <script type="module" src="index.tsx"></script> -->
  </body>
</html>
